In [36]:
import numpy as np
import pandas as pd
import random 
import ase
from ase import Atoms
from ase.visualize import view
from ase.io import read
import random

In [37]:
df = pd.read_csv('twist1-08_graphene.lmp', header=11, sep=' ')
df.columns = ["ID_C", "TYPE_C","CRG_C", "X_C", "Y_C", "Z_C"]
df

        ID_C  TYPE_C  CRG_C      X_C      Y_C   Z_C
0          6       1    0.0    0.581  211.220   3.0
1          7       1    0.0    0.558  208.764   3.0
2          8       1    0.0    0.535  206.308   3.0
3          9       1    0.0    0.511  203.852   3.0
4         10       1    0.0    0.488  201.396   3.0
...      ...     ...    ...      ...      ...   ...
22318  22324       1    0.0  129.634   12.279  11.4
22319  22325       1    0.0  129.657    9.824  11.4
22320  22326       1    0.0  129.681    7.368  11.4
22321  22327       1    0.0  129.704    4.912  11.4
22322  22328       1    0.0  129.727    2.456  11.4

[22323 rows x 6 columns]

In [38]:
id_c = df.ID_C.to_numpy()
type_c = df.TYPE_C.to_numpy()
crg_c = df.CRG_C.to_numpy()
x_c = df.X_C.to_numpy()
y_c = df.Y_C.to_numpy()
z_c = df.Z_C.to_numpy()

In [39]:

for i in range(5):
    x_li = 129.75      * np.random.sample((800,)) 
    y_li = 224.73406  * np.random.sample((800,)) 
    z_li = np.full((800,), 7.2)
    type_li = np.full((800,), 2)
    crg_li = np.full((800,), 0.0)
    x = np.concatenate((x_c,x_li), axis=0)  
    y = np.concatenate((y_c,y_li), axis=0) 
    z = np.concatenate((z_c,z_li), axis=0) 
    type = np.concatenate((type_c,type_li), axis=0)
    crg = np.concatenate((crg_c,crg_li), axis=0) 
    data = [t, crg, x,y,z]
    df2 = pd.DataFrame(data = [data[0],data [1],data [2],data [3],data [4]]).T
    df2.index = df2.index +1
    df2.reset_index(inplace=True)
    

    df2.columns = ['ID', 'TYPE','CRG', 'X', 'Y', 'Z']
    df2['TYPE'] = df2['TYPE'].astype('int')
    lines = ['# LAMMPS data file written by OVITO Basic 3.4.2', '23123 atoms', '2 atom types', '0.0 129.750273 xlo xhi', '0.0 224.734065 ylo yhi', '-1.2 15.6 zlo zhi', 'Atoms  # charge']

    with open('twisted_bilayer_Li_%s.lmp' %i, 'w') as f:
        for line in lines:
            f.write((line))
            f.write('\n')
        f.write('\n')
    df2.to_csv("twisted_bilayer_Li_%s.lmp" %i , mode='a', index=False, header=False, sep=" ")